<label>{{str 'LBL_SALES_STAGE' 'Opportunities'}}</label>

<p>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_1a' 'Opportunities'}}
    <br>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_1b' 'Opportunities'}}
</p>

<p>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_2a' 'Opportunities'}}
    <br>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_2b' 'Opportunities'}}
</p>

<p>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_3a' 'Opportunities'}}
    <br>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_3b' 'Opportunities'}}
</p>
