<input type="text" name="{{name}}" value="{{value}}"{{#if def.len}} maxlength="{{def.len}}"{{/if}}{{#if def.placeholder}} placeholder="{{str def.placeholder this.model.module}}"{{/if}} class="inherit-width">
<a class="btn" href="javascript:void(0);" data-name="{{name}}"><i class="{{#if def.icon}}{{def.icon}}{{else}}icon-book{{/if}}" title="Book Address"></i></a>
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
