{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 ********************************************************************************/
}}

<div id="dnb-competitors-loading" class="block-footer">
    {{str "LBL_DNB_COMPETITORS_LOADING"}}
</div>
<div id="dnb-competitors-list">
    {{#if dnbComp.product}}
        <div>
            <ul class="unstyled listed">
                {{#each dnbComp.product}}
                    <li>
                        <a class="dnb-company-name" id="{{this.dunsnum}}">
                            {{this.orgname}}
                        </a>
                        {{#if this.topcompetitorindicator}}
                            <span class="label label-warning pull-right" data-placement="right">{{str "LBL_DNB_COMPETITORS_TOP"}}</span>
                        {{/if}}
                        <div class='record-label dnb-company-list'>
                            {{#if territoryabbreviatedname}}
                                {{this.territoryabbreviatedname}},
                            {{/if}}
                            {{#if town}}
                                {{this.town}},
                            {{/if}}
                            {{#if this.countryofficialname}}
                                {{this.countryofficialname}},
                            {{/if}}
                            {{#if salesrevenueamt}}
                                <b>Sales:</b>
                                {{this.salesrevenueamt}}
                            {{/if}}
                            {{#if this.isDupe}}
                                <span class="label label-important pull-right" data-placement="right">
                                    {{str "LBL_DNB_DUPLICATE"}}
                                </span>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <aside class='create-no-data'>
            <em>{{dnbComp.errmsg}}</em>
        </aside>
    {{/if}}
</div>
