{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 ********************************************************************************/
}}

<div id="dnb-competitors-loading" class="block-footer">
{{str "LBL_DNB_COMPETITORS_LOADING"}}
</div>
<div id="dnb-competitors-list">
{{#if competitors}}
	<div>
        <ul class="unstyled listed">
			{{#each competitors}}
				<li> 
                       {{this.OrganizationPrimaryName.OrganizationName.$}}
						{{#if this.TopCompetitorIndicator}}
                            <span class="label label-warning pull-right" data-placement="right">{{str "LBL_DNB_COMPETITORS_TOP"}}</span>
                        {{/if}}
                        
                         <div class='txt'>
                            {{#if companies}}
                                {{this.PrimaryAddress.PrimaryTownName}},
                            {{/if}}

                            {{#if PrimaryAddress.PrimaryTownName}}
                                {{this.PrimaryAddress.PrimaryTownName}},
                            {{/if}}

                            {{#if this.PrimaryAddress.CountryOfficialName}}
                                {{this.PrimaryAddress.CountryOfficialName}},
                            {{/if}}

                            {{#if SalesRevenueAmount.0.$}}
                                <b>Sales:</b>
                                {{this.SalesRevenueAmount.0.$}}
                            {{/if}}
                        </div>
					</li>
			{{/each}}
		</ul>
	</div>
{{else}}
    <aside>
        <em>{{errmsg}}</em>
    </aside>
{{/if}}
</div>
