{{#each results}}
    <li{{#if route}} data-route="{{route}}"{{/if}}{{#if callback}} data-callback="{{callback}}"{{/if}}>
        {{#if label}}<span class="label label-module label-module-md label-{{module}}"
              rel="tooltip" data-title="{{module}}">{{label}}</span>{{/if}}
        <span class="spotlight-text">{{name}}</span>
        {{#if icon}}<i class="fa {{icon}} spotlight-icon result-icon"></i>{{/if}}
        <i class="fa fa-mail-forward spotlight-icon"></i>
    </li>
{{/each}}
