{{!
/*
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc.  All rights reserved.
 */
}}
<div class="help-dashlet-content">
    <div class="help-body">
        {{nl2br body}}
    </div>

    <div class="help-more">
        {{{more_help}}}
    </div>

    {{!FIXME this will be replaced by the learning-resources dashlet in 7.2.2 (see SC-2923)}}
    <div class="help-body">
        <strong><a href="http://university.sugarcrm.com" target="_blank">{{str 'LBL_LEARNING_RESOURCES_SUGAR_UNIVERSITY_LINK' module}}</a></strong>
        <p>{{str 'LBL_LEARNING_RESOURCES_SUGAR_UNIVERSITY_TEASER' module}}</p>
        <br>

        <strong><a href="https://community.sugarcrm.com" target="_blank">{{str 'LBL_LEARNING_RESOURCES_COMMUNITY_LINK' module}}</a></strong>
        <p>{{str 'LBL_LEARNING_RESOURCES_COMMUNITY_TEASER' module}}</p>
        <br>

        <strong><a href="http://support.sugarcrm.com" target="_blank">{{str 'LBL_LEARNING_RESOURCES_SUPPORT_LINK' module}}</a></strong>
        <p>{{str 'LBL_LEARNING_RESOURCES_SUPPORT_TEASER' module}}</p>
        <br>
    </div>
</div>
