<div class="block-footer">
    {{#if showGeneric}}
            {{str 'ERROR_UNABLE_TO_RETRIEVE_DATA'}}
    {{/if}}
    {{#if needConnect}}
        <a target='blank'
           href='index.php?module=EAPM&refreshParentWindow=yesPlease&closeWhenDone=1&action=QuickSave&application=Twitter'>
            {{str 'LBL_CONNECT_TWITTER'}}
        </a>
    {{/if}}
    {{#if needOAuth}}
        {{#if showAdmin}}
            <a href='#bwc/index.php?module=Connectors&action=ModifyProperties'>
                {{str 'LBL_CONNECT_TWITTER_FOR_ADMIN'}}
            </a>
        {{else}}
            <em>{{str 'LBL_CONFIGURE_TWITTER'}}</em>
        {{/if}}
    {{/if}}
</div>
