<div class="record-label quote-totals-row-label">{{label}}</div>
<div class="quote-totals-row-value">
    {{#if transactionValue}}
        <label class="original">{{transactionValue}}</label><div class="converted">{{value}}</div>
    {{else}}
        {{value}}
    {{/if}}
</div>
