{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id="carriers-list">
    {{#each items}}
        <div data-name="{{name}}">
            <label>
                <input type="checkbox" name="{{name}}"{{#if enabled}} checked{{/if}}>
                <strong>{{label}}</strong>
            </label>
            {{!-- link to "Configure/Edit" will be implemented later.
            <span>
                <a href="{{#if configured}}#{{else}}#{{/if}}"
                   data-placement="bottom"
                   title="{{value}}">
                    {{#if configured}}
                        {{str "LBL_LINK_CARRIER_CONFIGURE" ../../module}}
                    {{else}}
                        {{str "LBL_LINK_CARRIER_EDIT" ../../module}}
                    {{/if}}
                </a>
            </span>
            --}}
        </div>
    {{/each}}
</div>

