<div class="span{{spanCSS}} tcenter">
    <div id="forecast_details_{{case}}_numbers" class="ellipsis_inline" data-original-title="{{labelAmount}}" data-placement="bottom" data-container="body">
        <span class="forecast_details_label">
            {{label}}
        </span>

        <br>

        <span class="forecast_details_amount">
            {{{amount}}}
        </span>

    </div>

    <div id="forecast_details_{{case}}_feedback" class="ellipsis_inline"  data-original-title="{{{feedbackLn1}}} {{{feedbackLn2}}}" data-placement="bottom" data-container="body">
        <span class="forecast_details_feedback">
            {{{feedbackLn1}}}
            <br>
            {{{feedbackLn2}}}
        </span>
    </div>
</div>
