{{!
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement (""License"") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the ""Powered by SugarCRM"" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
}}
<div class="tab-pane active">
    {{#if collection.length}}
        <ul class="unstyled listed">
            {{#each collection.models}}
                <li>
                    {{#if ../../row_actions}}
                        <div class="actions pull-right">
                            {{#each ../../row_actions}}
                                {{field ../../../this model=../this}}
                            {{/each}}
                        </div>
                    {{/if}}
                    <p>
                        {{#if attributes.assigned_user_id}}
                            <a href="#{{buildRoute module="Employees" id=attributes.assigned_user_id action="detail"}}" class="pull-left avatar42" data-title="{{getFieldValue this "assigned_user_name"}}">
                                <img src="{{getFieldValue this "picture_url"}}" alt="{{getFieldValue this "assigned_user_name"}}">
                            </a>
                        {{else}}
                            <span class="icon-stack pull-left">
                                <i class="icon-user icon-stack-base"></i>
                                <i class="icon-question-sign icon-light"></i>
                            </span>
                        {{/if}}
                        <a href="#{{buildRoute model=this action="detail"}}">{{getFieldValue this "name"}}</a>
                    </p>
                    {{#if ../overdueBadge}}
                        {{#with ../../overdueBadge}}
                            {{field ../../../this model=../../this template='detail'}}
                        {{/with}}
                    {{/if}}
                    <div class="details">
                        {{#if attributes.assigned_user_id}}
                            <a href="#{{buildRoute module="Employees" id=attributes.assigned_user_id action="detail"}}">
                                {{getFieldValue this "assigned_user_name"}}
                            </a>
                        {{else}}
                            {{str "LBL_UNASSIGNED" this.module}}
                        {{/if}}
                        &#44;&nbsp;
                        <date class="date">{{timeago attributes.record_date "TPL_TABBED_DASHLET_TIME_RELATIVE"}}</date>
                    </div>
                </li>
            {{/each}}
            {{#notEq ../collection.next_offset "-1"}}
                <li><a class="more" data-action="show-more">{{str "LBL_SHOW_MORE_MODULE" this.module}}</a></li>
            {{/notEq}}
        </ul>
    {{else}}
        <div class="block-footer">{{#if ../collection.dataFetched}}{{str "LBL_NO_DATA_AVAILABLE" this.module}}{{else}}{{str "LBL_LOADING" this.module}}{{/if}}</div>
    {{/if}}
</div>
