{{!
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement (""License"") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the ""Powered by SugarCRM"" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
}}
<ul class="nav megamenu" id="module_list">
    {{#each module_list}}
        {{#eq name 'Home'}}
        <li class="dropdown home" data-module="Home">
            <div class="btn-group" title="{{str "LBL_TABGROUP_HOME"}}">
                <a class="cube btn btn-invisible btn-link" href="#Home" data-route="#Home"></a>
            {{#if menu}}
                <a data-toggle="dropdown" role="button" href="javascript: void(0);" class="btn btn-invisible btn-link dropdown-toggle"><b class="icon-caret-down"></b></a>
                <div class="dropdown-menu scroll">
                    <ul role="menu">
                        {{#each menu}}
                            <li><a tabindex="-1" href="{{route}}" data-route="{{route}}">{{#if icon}}<i class="{{icon}}"></i>{{/if}}{{str label ../name}}</a></li>
                        {{/each}}
                        <div class="dashboardContainer "></div>
                    </ul>
                </div>
            {{/if}}
            </div>
        </li>
        {{/eq}}
        {{#notEq name 'Home'}}
        <li class="dropdown" data-module="{{name}}" data-menuindex="{{menuIndex}}">
            <a  class="moreLink hide" href="#{{name}}" data-route="#{{name}}">{{label}}</a>
            <div class="btn-group">
                <a  class="btn btn-invisible btn-link routeLink" href="#{{name}}" data-route="#{{name}}">{{label}}</a>
                {{#if menu}}
                    <a data-toggle="dropdown" role="button" href="javascript: void(0);" class="btn btn-invisible btn-link dropdown-toggle"><i class="icon-caret-down"></i></a>
                    <div class="dropdown-menu scroll">
                        <ul role="menu">
                            {{#each menu}}
                                <li><a class="actionLink" tabindex="-1" href="{{#if event}}javascript:void(0);{{else}}{{route}}{{/if}}" data-navbar-menu-item="{{this.label}}" data-{{#if event}}event="{{event}}"{{else}}route="{{route}}"{{/if}}>{{#if icon}}<i class="{{icon}}"></i>{{/if}}{{str label ../name}}</a></li>
                            {{/each}}
                            <div class="recentContainer hide"></div>
                            <div class="favoritesContainer hide"></div>
                        </ul>
                    </div>
                {{/if}}
            </div>
        </li>
        {{/notEq}}
    {{/each}}
    <li class="dropdown more">
        <div class="btn-group">
            <a href="javascript:void(0)" role="button" data-toggle="dropdown" class="btn btn-invisible btn-link dropdown-toggle" id="moreDrop"><b title="{{str "LBL_LINK_MORE"}}" class="icon-chevron-down"></b></a>
            <div class="dropdown-menu scroll"role="menu">
            <ul class="more-drop-container">
            </ul>
            </div>
        </div>
    </li>
</ul>
