{{!
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement (""License"") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the ""Powered by SugarCRM"" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
}}
<div class="welcome">
    <div class="thumbnail login">
        <div class="tcenter">
            <h2 class="brand" {{#if logoURL}} style="background: url({{logoURL}}) 50% 50% no-repeat;"{{/if}}>SugarCRM</h2>
        </div>
        <form name='{{name}}' class="tcenter">
            {{#each meta.panels}}
                {{#each fields}}
                    <div class="control-group">{{field ../../this model=../../model}}</div>
                {{/each}}
                <p class="help-block">
                    <a class="btn btn-link btn-invisible"
                     rel="popoverTop"
                     data-trigger="hover"
                     data-delay="{ show: 500, hide: 100 }"
                     data-content="{{str "LBL_PORTAL_LOGIN_FORGOTPASSWORD"}}"
                     data-original-title="{{str "LBL_PORTAL_LOGIN_FORGOTPASSWORD_TITLE"}}">{{str "LNK_PORTAL_LOGIN_FORGOTPASSWORD"}}</a>
                </p>
            {{/each}}
            <div class="login-footer">
                {{#each meta.buttons}}
                {{field ../this model=../model}}
                {{/each}}
            </div>
        </form>
    </div>
</div>
