<a href="{{#if fullRoute}}#{{fullRoute}}{{else}}{{#if def.route}}#{{buildRoute context=context model=model action=def.route.action}}{{else}}javascript:void(0);{{/if}}{{/if}}"
   name="{{name}}">
{{#if def.icon}}<i class="{{def.icon}}"></i> {{/if}}{{label}}</a>
