<span class="information-underline"
      rel="tooltip"
      data-container="body" data-placement="bottom" data-html="true" data-trigger="click"
      title="{{str 'LBL_OVERWRITE_POPULATED_DATA_FROM'}}: {{before}} <br> {{str 'LBL_OVERWRITE_POPULATED_DATA_TO'}}: {{after}}">
    {{field_label}}
</span>
