<div id="dnb-no-duns" class="block-footer">
	 <aside>
        <em>{{str "LBL_DNB_NO_DUNS"}}</em>
        <br/>
      </aside>

     <table class="table">
     	<tr>
     		<td>{{str "LBL_DNB_COUNTRY"}}</td>
     		<td>{{str "LBL_DNB_STATE"}}</td>
     	</tr>
     	<tr>
     		<td>
     			<input type='hidden' id='countryList'/>
     		</td>
     		<td>
     			<input type='hidden' id='stateList'/>
     		</td>
     	</tr>
     </table>
     <a href="javascript:void(0);" class="btn btn-primary disabled" id="dnb-match-btn">
					{{str "LBL_DNB_CM_MATCH"}}
     </a>
     <br/>
     <a id="dnb-lookup">{{str "LBL_DNB_KEYWORD_SEARCH_HINT"}}</a>
     
</div>