{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 ********************************************************************************/
}}
<div id="dnb-company-detail-loading" class="block-footer">
    {{str "LBL_DNB_COMPANY_INFO_LOADING"}}
</div>
<div id="dnb-company-details">
    {{#if dnbProduct.product}}
        <div class='dnb-show-all'>
            <table class="table table-striped table-condensed">
                {{#each dnbProduct.product}}
                    {{#notEq this.dataInd 'dup'}}
                        <tr>
                            <td align="center">
                                <div class='dnb-checkbox-nav'>
                                    <input type='checkbox' name='{{this.dataName}}' id='{{this.dataName}}' class='dnb_checkbox' checked/>
                                </div>
                                <div class="dnb-company-label">
                                    {{#if this.dnbLabel}}
                                        {{{this.dnbLabel}}}
                                    {{else}}
                                        {{str this.dataLabel}}
                                    {{/if}}
                                </div>
                                {{#if this.dataType}}
                                    {{#eq this.dataType 'link'}}
                                        <div class="url-txt importData">
                                    {{/eq}}
                                {{else}}
                                    <div class="txt importData">
                                {{/if}}
                                {{this.dataElement}}
                                {{#eq this.dataInd 'new'}}
                                    <span class="label label-important pull-right" data-placement="right">
                                        {{str "LBL_DNB_UPLOAD"}}
                                    </span>
                                {{/eq}}
                                </div>
                            </td>
                        </tr>
                    {{/notEq}}
                {{/each}}
            </table>
        </div>
    {{else}}
        <aside class='create-no-data'>
            <em>{{dnbProduct.errmsg}}</em>
        </aside>
    {{/if}}
    {{#if dnbProduct.isNotLinked}}
        <div class="dnb-show-more">
            <a class="backToList">{{str "LBL_DNB_BACK_TO_SRCH"}} <i class="icon-chevron-down"></i></a>
        </div>
    {{/if}}
</div>