<div id="dnb-company-list-loading" class="block-footer">
{{str "LBL_DNB_CM_LOADING"}}
</div>
<div id="dnb-company-list">
	{{#if companies}}
        <div>
            <table class="table" id="dnb_company_list">
            		<tr>
            			<td><b>{{str "LBL_DNB_NAME"}}</b></td>
            			<td><b>{{str "LBL_DNB_MATCH_GRADE"}}</b></td>
            			<td><b>{{str "LBL_DNB_CONFIDENCE"}}</b></td>
            		</tr>
                {{#each companies}}
                    <tr>
                        <td>
                            <a class="dnb-company-name"
                               id="{{this.DUNSNumber}}">
                                {{this.OrganizationPrimaryName.OrganizationName.$}}
                            </a>
                            <br/>
                            <div class="record-label dnb-company-list">
                                {{#if this.PrimaryAddress.StreetAddressLine.0.LineText}}
                                    {{this.PrimaryAddress.StreetAddressLine.0.LineText}}
                                {{/if}}

                                {{#if this.PrimaryAddress.PrimaryTownName}}
                                    {{this.PrimaryAddress.PrimaryTownName}},
                                {{/if}} 

                                {{#if this.PrimaryAddress.TerritoryAbbreviatedName}}
                                    {{this.PrimaryAddress.TerritoryAbbreviatedName}},
                                {{/if}}

                                {{#if this.PrimaryAddress.CountryISOAlpha2Code}}
                                    {{this.PrimaryAddress.CountryISOAlpha2Code}}
                                {{/if}}
                            </div>
                        </td>
                        <td>
                        	{{this.MatchQualityInformation.MatchGradeText}}
                        </td>
                        <td>
                        	{{this.MatchQualityInformation.ConfidenceCodeValue}}
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    {{else}}
        <aside class='create-no-data'>
            {{#if errmsg}}
                <em>{{errmsg}}</em>
            {{/if}}
            <a id="dnb-lookup">{{str "LBL_DNB_KEYWORD_SEARCH_HINT"}}</a>
        </aside>
    {{/if}}
</div>