{{#if value}}
    <div class="ellipsis_inline" data-placement="bottom" title="{{value}}">
        {{#if def.link}}<a href="{{#if def.events}}javascript:void(0);{{else}}{{href}}{{/if}}">{{value}}</a>{{else}}{{value}}{{/if}}
    </div>
{{/if}}