<div id="dnb-contact-list-loading" class="block-footer">
{{str "LBL_DNB_CNTCT_LOADING"}} ...
</div>
<div id="dnb-contact-list">
	{{#if contacts}}
	<div class="dnb-show-less">
		<ul class="unstyled listed">
			{{#each contacts}}
				<li>
					<div class='dnb-company-label'>
						{{this.JobTitle.[0].JobTitleText.$}}
						{{#if this.moreDetails}}
							<span class="label label-success pull-right" data-placement="right">{{str "LBL_DNB_PREMIUM"}}</span>
						{{/if}}
					</div>
					<div class="record-label dnb-company-list">
						{{#if this.moreDetails}}
							<a id="{{this.PrincipalIdentificationNumberDetail.[0].PrincipalIdentificationNumber}}" class="dnb-cnt-prem"> {{this.ContactName.FullName}} </a>
						{{else}}
							<a id="{{this.PrincipalIdentificationNumberDetail.[0].PrincipalIdentificationNumber}}" class="dnb-cnt-std"> {{this.ContactName.FullName}} </a>
						{{/if}}
						{{#if this.isDupe}}
                            <span class="label label-important pull-right" data-placement="right">{{str "LBL_DNB_DUPLICATE"}}</span>
                        {{/if}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="dnb-show-more">
		    <a class="showMoreData more">{{str "LBL_DNB_CONTACT_SHOW_MORE"}} <i class="icon-chevron-down"></i></a>
		    <a class="showLessData less">{{str "LBL_DNB_SHOW_LESS"}} <i class="icon-chevron-up"></i></a>
	</div>
	{{else}}
        <aside class='create-no-data'>
            {{#if errmsg}}
                <em>{{errmsg}}</em>
            {{else}}
                <em>{{str "LBL_DNB_NO_DATA"}}</em>
            {{/if}}
        </aside>
    {{/if}}
</div>
