{{!
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement (""License"") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the ""Powered by SugarCRM"" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
}}
<div class="block thumbnail">
    <h4>Recommended Experts</h4>
    <div class="recommended-experts-input-wrapper">
        <input class="span9 job-title" type="text" data-provide="typeahead" placeholder="Type a job title">
        <button class="btn btn-primary find-experts">Find Experts</button>
    </div>
    <div class="recommended-experts-list">
        {{#if this.collection.length}}
        {{#eq this.collection.length "1"}}
        <em class="recommended-experts-result-text">1 expert found with the "{{this.jobTitle}}" job title:</em>
        {{else}}
        <em class="recommended-experts-result-text">{{this.collection.length}} experts found with the "{{this.jobTitle}}" job title:</em>
        {{/eq}}
        {{#each this.collection.models}}
        <article class="{{this.attributes.guid}}">
            <a class="recommended-experts-link" href="#Users/{{this.attributes.id}}">
                <div class="recommended-experts-cell">
                    <img src="{{this.attributes.picture_url}}" alt="{{this.attributes.full_name}}">
                </div>
                <div class="recommended-experts-cell">
                    <h6>{{str "LBL_CONTACT"}} {{str "LBL_INFOINLINE"}}</h6>
                    <span><i class="icon-user"></i> {{this.attributes.full_name}}</span>
                    <span><i class="icon-envelope-alt"></i> {{this.attributes.email1}}</span>
                </div>
                <div class="recommended-experts-cell">
                    <span><i class="icon-briefcase"></i> {{this.attributes.title}}</span>
                    <span><i class="icon-phone"></i> {{this.attributes.phone_work}}</span>
                </div>
            </a>
        </article>
        {{/each}}
        {{else}}
            {{#if jobTitle}}
                <em>No experts found with the "{{this.jobTitle}}" job title.</em>
            {{/if}}
        {{/if}}
    </div>
</div>
