{{#each value}}

    {{#eq mimeType 'image'}}
        <div class="file-field">
            <a class="ellipsis_inline" href="{{url}}" target="_blank">{{name}}</a>
        </div>
        <a href="{{url}}" target="_blank"><img src="{{url}}"></a>
    {{/eq}}
    {{#notEq mimeType 'image'}}
        <div class="file-field">
            <a class="ellipsis_inline" href="javascript:void(0);" data-url="{{url}}" data-action="download">{{name}}</a>
        </div>
    {{/notEq}}
{{/each}}
