{{!
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement (""License"") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the ""Powered by SugarCRM"" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
}}
<!-- Labels
================================================== -->
<section id="labels">
  <div class="page-header">
    <h1>Inline labels <small>Label and annotate text</small></h1>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Labels</th>
        <th>Markup</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="label">Default</span></td>
        <td><code>&lt;span class="label"&gt;Default&lt;/span&gt;</code></td>
      </tr>
      <tr>
        <td><span class="label label-important">Important</span></td>
        <td><code>&lt;span class="label label-important"&gt;Important&lt;/span&gt;</code></td>
      </tr>
      <tr>
        <td><span class="label label-warning">Warning</span></td>
        <td><code>&lt;span class="label label-warning"&gt;warning&lt;/span&gt;</code></td>
      </tr>
      <tr>
        <td><span class="label label-pending">Pending</span></td>
        <td><code>&lt;span class="label label-pending"&gt;warning&lt;/span&gt;</code></td>
      </tr>
      <tr>
        <td><span class="label label-success">Success</span></td>
        <td><code>&lt;span class="label label-success"&gt;Success&lt;/span&gt;</code></td>
      </tr>
      <tr>
        <td><span class="label label-info">Info</span></td>
        <td><code>&lt;span class="label label-info"&gt;Info&lt;/span&gt;</code></td>
      </tr>
      <tr>
        <td><span class="label label-inverse">Inverse</span></td>
        <td><code>&lt;span class="label label-inverse"&gt;Inverse&lt;/span&gt;</code></td>
      </tr>
    </tbody>
  </table>

  <h3>Module Element Badges</h3>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Module</th>
        <th>Labels</th>
        <th>module Singular</th>
        <th>Class Name</th>
      </tr>
    </thead>
    <tbody>
  {{#each pageData.module_list}}
      <tr>
        <td><b>{{this}}</b></td>
        <td>
          <span class="label label-module label-{{this}}" rel="tooltip" data-title="{{moduleIconToolTip this}}">{{moduleIconLabel this}}</span>
          <span class="label label-module-sm label-{{this}}" rel="tooltip" data-title="{{moduleIconToolTip this}}">{{moduleIconLabel this}}</span>
          <span class="label label-module-mini label-{{this}}" rel="tooltip" data-title="{{moduleIconToolTip this}}">{{moduleIconLabel this}}</span>
        </td>
        <td>{{moduleIconToolTip this}}</td>
        <td><code>.label-{{this}}</code></td>
      </tr>
  {{/each}}
    </tbody>
  </table>
  </div>

  <h3>Markup</h3>

<pre class="prettyprint linenums">
&lt;span class="label label-module label-&#123;&#123;this.module}}" rel="tooltip" data-title="&#123;&#123;moduleIconToolTip this.module}}"&gt;&#123;&#123;moduleIconLabel this.module}}&lt;/span&gt;
</pre>

  <h3>CSS</h3>
  <div class="row">
    <div class="span2">
      <code>.label-module</code>
    </div>
    <div class="span2">
      <span class="label label-module label-Modules" rel="tooltip" data-title="Modules">Mo</span>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <code>.label-module-sm</code>
    </div>
    <div class="span2">
      <span class="label label-module-sm label-Modules" rel="tooltip" data-title="Modules">Mo</span>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <code>.label-module-mini</code>
    </div>
    <div class="span2">
      <span class="label label-module-mini label-Modules" rel="tooltip" data-title="Modules">Mo</span>
    </div>
  </div>
</section>
