{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="row-fluid">
    <div class="block filtered tabbable">
        <ul class="nav gsr-results">
            {{#each collection.models}}
                <li class="gsr-result" data-id="{{attributes.id}}">
                    {{#each ../meta.fields.icon}}
                        {{field ../../this model=../this}}
                    {{/each}}
                    <div class="ellipsis_inline primary" data-placement="bottom" title="" data-original-title="">
                        {{#each attributes.primaryHighlightedFields}}
                            <a href="{{../attributes.route}}">{{value}}</a>
                        {{/each}}
                        {{#each attributes.primaryFields}}
                            {{field ../../this model=../this}}
                        {{/each}}
                    </div>
                    <div class="ellipsis_inline secondary" data-placement="bottom" title="" data-original-title="">
                        {{#each attributes.secondaryHighlightedFields}}
                            <span>{{str label ../module}}: {{value}}{{#unless @last}}, {{/unless}}{{#if @last}}{{#if ../../attributes.secondaryFields}}, {{/if}}{{/if}}
                            </span>
                        {{/each}}
                        {{#each attributes.secondaryFields}}
                            {{field ../../this model=../this}}
                        {{/each}}
                    </div>
                    {{#each ../meta.rowactions.actions}}
                        {{field ../../this model=../this}}
                    {{/each}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
