{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 ********************************************************************************/
}}
<div id="dnb-compinfo-loading" class="block-footer">
    {{str dnbFirmo.loading_label}}
</div>
<div id="dnb-compinfo-details">
    {{#if dnbFirmo.product}}
        <div class='dnb-show-less'>
            <ul class="unstyled listed">
                {{#each dnbFirmo.product}}
                    <li>
                        <div class='dnb-company-label'>
                            {{#if dnbLabel}}
                                {{{dnbLabel}}}
                            {{else}}
                                {{str dataLabel}}
                            {{/if}}
                        </div>
                        <div class='txt import-data'>
                            {{{dataElement}}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="dnb-show-more">
            <a class="showMoreData more">{{str "LBL_DNB_SHOW_MORE"}} <i class="icon-chevron-down"></i></a>
            <a class="showLessData less">{{str "LBL_DNB_SHOW_LESS"}} <i class="icon-chevron-up"></i></a>
        </div>
    {{else}}
        <aside class='create-no-data'>
            {{#if dnbFirmo.errmsg}}
                <em>{{dnbFirmo.errmsg}}</em>
            {{else}}
                <em>{{str "LBL_DNB_NO_DATA"}}</em>
            {{/if}}
        </aside>
    {{/if}}
</div>
