{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 ********************************************************************************/
}}
<div id="dnb-company-detail-loading" class="block-footer">
    {{str "LBL_DNB_COMP_INFO_LOAD"}} ...
</div>
<div id="dnb-company-details">
    <div class="dnb-show-all">
        {{#if dnbFirmo.product}}
            <div class='dnb-company-details'>
                <ul class="unstyled listed">
                    {{#each dnbFirmo.product}}
                        <li>
                            <div class='dnb-company-label'>
                                {{#if dnbLabel}}
                                    {{{dnbLabel}}}
                                {{else}}
                                    {{str dataLabel}}
                                {{/if}}
                            </div>
                            {{#if dataType}}
                                {{#eq dataType 'link'}}
                                <div class="url-txt importData">
                                {{/eq}}
                            {{else}}
                            <div class="txt importData">
                            {{/if}}
                            {{{dataElement}}}
                        </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <aside class='create-no-data'>
                {{#if dnbFirmo.errmsg}}
                    <em>{{dnbFirmo.errmsg}}</em>
                {{else}}
                    <em>{{str "LBL_DNB_NO_DATA"}}</em>
                {{/if}}
            </aside>
        {{/if}}
    </div>
    {{#if dnbFirmo.backToListLabel}}
        <div class="dnb-show-more">
            <a class="backToList"> {{dnbFirmo.backToListLabel}} <i class="icon-chevron-down"></i> </a>
        </div>
    {{/if}}
</div>