<div class="alert {{alertClass}} alert-block">
    {{#if title}}<strong>{{title}}</strong>{{/if}}
    {{#each messages}}{{{this}}}{{/each}}
    <a class="btn-link cancel" data-action="cancel">{{str 'LBL_CANCEL_BUTTON_LABEL'}}</a> {{#if cancelContLabel}}{{str cancelContLabel}}{{else}}{{str 'LBL_CANCEL_BUTTON_LABEL_CONT'}}{{/if}}
    <a class="btn-link confirm" data-action="confirm">{{str 'LBL_CONFIRM_BUTTON_LABEL'}}</a> {{#if confirmContLabel}}{{str confirmContLabel}}{{else}}{{str 'LBL_CONFIRM_BUTTON_LABEL_CONT'}}{{/if}}
</div>
