<li class="comment">
    <a href="#{{buildRoute module='Users' id=created_by}}" id="avatar-comment-{{id}}" title="{{created_by_name}}" class="pull-left avatar" rel="tooltip" data-container="body"  data-placement="right">
        {{#if picture_url}}
            <img src="{{picture_url}}" alt="{{created_by_name}}">
        {{else}}
            <i class="icon-user"></i>
        {{/if}}
    </a>
    <p>
        <span class="tagged">{{{str "TPL_COMMENT" "Activities" data}}}</span>
        <br />
        <date class="date"><a href="#{{buildRoute module='Users' id=created_by}}">{{created_by_name}}</a> {{timeago date_modified "LBL_TIME_RELATIVE_ACTIVITIES"}}</date>
    </p>
</li>
