<span class="record-cell" data-name="{{name}}" data-type="{{type}}">
    {{#unless def.dismiss_label}}
        <div class="record-label" data-name="{{name}}">{{str label ../module}}</div>
    {{/unless}}
    <span data-fieldname="{{name}}">
        {{value}}
    </span>
</span>
