{{!
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement (""License"") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the ""Powered by SugarCRM"" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
}}
<div>
    {{#if model.isNotEmpty}}
        <div class="record">
            {{#each meta.panels}}
                {{#unless header}}
                    {{#if ../labelsOnTop}}
                        {{#each grid}}
                            <div class="row-fluid {{../name}}{{#if ../hide}} hide{{/if}}">
                                {{#each this}}
                                    <div class="span{{span}} record-cell{{#if cell_css_class}} {{cell_css_class}}{{/if}}" data-type="{{type}}" data-name="{{name}}">
                                        {{#if ../../labels}}
                                            {{#unless dismiss_label}}
                                                <div class="record-label" data-name="{{name}}">{{#if label}}{{str label ../../../../../../../../module}}{{/if}}</div>
                                            {{/unless}}
                                        {{/if}}
                                        {{#if name}}
                                            <span class="normal{{#if css}} {{css}}{{/if}} index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                                                {{field ../../../../../../this model=../../../../../../settings template=../../../../../../action}}
                                            </span>
                                        {{/if}}
                                        {{#unless ../../../../../../createMode}}
                                            {{#notHas name ../../../../../../../noEditFields}}
                                                <span class="record-edit-link-wrapper" data-name="{{name}}">
                                                    <a class="record-edit-link btn btn-invisible" data-type="{{type}}" data-name="{{name}}"><i class="icon-pencil"></i></a>
                                                </span>
                                            {{/notHas}}
                                        {{/unless}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="form-horizontal">
                            <fieldset class="card2">
                                {{#each grid}}
                                    <div class="row-fluid control-group {{../name}}{{#if ../hide}} hide{{/if}}">
                                        {{#each this}}
                                            {{#if ../../labels}}
                                                {{#unless dismiss_label}}
                                                    <div class="control-label span{{labelSpan}} {{label_css_class}}">
                                                        <div class="control-label-background span{{labelSpan}}">
                                                            <label class="tright record-label" data-name="{{name}}">{{str label ../../../../../../../module}}</label>
                                                        </div>
                                                    </div>
                                                {{/unless}}
                                            {{/if}}
                                            <div class="controls span{{span}} record-cell {{cell_css_class}}" data-type="{{type}}" data-name="{{name}}">
                                                {{#if name}}
                                                    <span class="normal{{#if css}} {{css}}{{/if}} index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                                                        {{field ../../../../../../this model=../../../../../../settings template=../../../../../../action}}
                                                    </span>
                                                {{/if}}
                                                {{#unless ../../../../../../createMode}}
                                                    {{#notHas name ../../../../../../../noEditFields}}
                                                        <span class="record-edit-link-wrapper" data-name="{{name}}">
                                                            <a class="record-edit-link btn btn-invisible" data-type="{{type}}" data-name="{{name}}"><i class="icon-pencil"></i></a>
                                                        </span>
                                                    {{/notHas}}
                                                {{/unless}}
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/each}}
                            </fieldset>
                        </div>
                    {{/if}}
                {{/unless}}
            {{/each}}
        </div>
    {{/if}}
</div>
