<li data-sweetaction="true">
  <a{{#if route}} href="{{route}}"{{/if}}{{#if callback}}
                  data-callback="{{callback}}"{{/if}}>
      {{#if label}}<span
          class="label label-module label-module-md label-{{module}}"
          rel="tooltip" data-title="{{module}}">{{label}}</span>{{/if}}
    <div class="result-text">
        {{#each keyword}}<div class="result-keyword label">{{this}}</div>{{/each}}
      <div class="result-name">{{name}}</div>
    </div>
      {{#if icon}}<i class="fa {{icon}} sweetspot-icon result-icon"></i>{{/if}}
    <i class="fa fa-mail-forward sweetspot-icon"></i>
  </a>
</li>
