{{!
/*
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 */
}}
<ul class="unstyled" data-type="node-list">
{{#each this}}
    <li data-node-id="{{#if topic_id}}{{topic_id}}{{else}}{{id}}{{/if}}">
        {{#if topic_id}}
            <i class="icon-file" data-node-icon="file"></i>
        {{else}}
            <i class="icon-folder icon-folder-close" data-node-icon="folder"></i>
        {{/if}}
        <a href="#{{buildRoute module=_module id=id}}">{{name}}</a>
        {{#if subnodes.records}}
            {{> kbs-dashlet-topics.node-list subnodes.records }}
        {{/if}}
    </li>
{{/each}}
</ul>
