{{!
/*
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright  2004-2014 SugarCRM Inc.  All rights reserved.
 */
}}
<div class="select2-container select2-container-multi select2-choices-pills-close
    select2-choices-pills-square select2 span12 kb-attachmentlist-details-view">
    <ul class="select2-choices">
        {{#each value}}
            <li class="select2-search-choice">
                <div>
                <span class="select2-choice-type">
                    <a class="ellipsis_inline kb-attachment-link"
                       data-placement="bottom"
                       title="{{name}}"
                       href="{{url}}"
                       data-url="{{url}}"
                       data-action="download">{{name}}
                    </a>
                </span>
                </div>
            </li>
        {{/each}}
        {{#if value}}
            <li>
                <button class="btn-link btn-invisible btn-kb-download-all" data-action="download-all">
                    <i class="icon-download"></i>{{str "LBL_DOWNLOAD_ALL" this.module}}
                </button>
            </li>
        {{/if}}
    </ul>
</div>
