{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 ********************************************************************************/
}}
<div id="dnb-news-detail-loading" class="block-footer">
    {{str "LBL_DNB_NEWS_AND_MEDIA_LOADING"}}...
</div>
<div id="dnb-news-detail">
    <div class="tabbable tabs-full two">
        <ul id="tab" class="nav nav-tabs">
            <li class="active">
                <a href="#news-tab" data-toggle="tab">{{str "LBL_DNB_NEWS"}}
                </a>
            </li>
            <li>
                <a href="#social-tab" data-toggle="tab">{{str "LBL_DNB_SOCIAL"}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- News Tab Start-->
            <div class="tab-pane active" id="news-tab">
                {{#if dnbNews.news.product}}
                    <div class='accordian dnb-show-less' id="dnb_news_accordian">
                        {{#each dnbNews.news.product}}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    {{#if this.TitleText}}
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#dnb_news_accordian" href="#news_{{@index}}">
                                            {{this.TitleText}}
                                        </a>
                                    {{/if}}
                                </div>
                                <div id="news_{{@index}}" class="accordion-body collapse">
                                    {{#if this.ContentText}}
                                        <div class="accordion-inner">
                                            {{this.ContentText}}
                                        </div>
                                    {{/if}}
                                    {{#if this.WebPageURL}}
                                        <div class="dnb-weburl">
                                            {{str "LBL_DNB_NEWS_AND_MEDIA_MORE"}}:
                                            <a href="{{this.WebPageURL}}" target="_blank">
                                                {{this.SourceDescription}}
                                            </a>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="dnb-show-more">
                        <a class="showMoreData more">{{str "LBL_DNB_SHOW_MORE"}} <i class="icon-chevron-down"></i></a>
                        <a class="showLessData less">{{str "LBL_DNB_SHOW_LESS"}} <i class="icon-chevron-up"></i></a>
                    </div>
                {{else}}
                    <br/>
                    <div>
                        <aside class="txt">
                            <em>
                                {{#if dnbNews.news.errmsg}}
                                    {{dnbNews.news.errmsg}}
                                {{else}}
                                    {{dnbNews.errmsg}}
                                {{/if}}
                            </em>
                        </aside>
                    </div>
                {{/if}}
            </div>
            <!-- News Tab End-->
            <!-- Social Tab Start-->
            <div class="tab-pane fade" id="social-tab">
                {{#if dnbNews.social.product}}
                    <table class="table">
                        {{#each dnbNews.social.product}}
                            <tr>
                                <td>{{str this.label}}</td>
                                <td><input type='hidden' id='{{this.mediaId}}'/></td>
                            </tr>
                        {{/each}}
                    </table>
                {{else}}
                    <br/>
                    <div>
                        <aside class="txt">
                            <em>
                                {{#if dnbNews.social.errmsg}}
                                    {{dnbNews.social.errmsg}}
                                {{else}}
                                    {{dnbNews.errmsg}}
                                {{/if}}
                            </em>
                        </aside>
                    </div>
                {{/if}}
            </div>
            <!-- Social Tab End-->
        </div>
    </div>
</div>
